/* 
body {
  background-color: rgb(166, 147, 147);
}
.slider__wrapper {
  width: 800px;
  height: 500px;
   overflow: hidden;
  border: 5px solid rgb(202, 214, 208);
  border-radius: 15px;
}

.middle {

 

}

.navigation {
  bottom: 4px;

  left: 85%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 30px;
  height: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: blue;
  opacity: 0.5;
  border-radius: 40px;
  transition: all 0.4s ease;
}

.bar:hover {
  opacity: 1;
  transform:scale(1.1);
}

input[name="r"] {
 
} 

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  height: 500px;
  transition: all 0.6s ease;

}

img {
  width: 100%;
  height:100%;
}
p{
  margin-left: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: large;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}

input:checked {
  background-color: white;
  width: 10px;
  color: aquamarine;
}
 */

 .slider {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 179, 179)
 }
 .slider__content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
 }
 .slides {
  width: 200px;
  display: flex;
  overflow: hidden;
  border: 2px solid red;
 }
 .slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 img {
  width: 200px;
 }
 .navigation {
  width: 100px;
  border: 2px solid red;
  display: flex;
 }

input[name="r"]{
  visibility: hidden;
  margin-left: -16px;
}

 #r1:checked ~ .s1 {
  margin-left: 0;
}

 #r2:checked ~  .s1 {
  margin-left: -200%;
}

#r3:checked ~ .s1 {
  margin-left: -400%;
}

#r4:checked ~ .s1 {
  margin-left: -600%;
}
#r5:checked ~ .s1 {
  margin-left: -800%;
}

.bar {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  
 
  background-color: black;
}
